opencv-python==3.4.0.12
Pillow==8.0.0 
scikit-image==0.17.2
scikit-learn==0.21.0
tqdm==4.20.0
opencv-contrib-python==3.4.1.15
firebase-admin==2.10.0
tensorflow==2.3.0
pandas===1.1.4
Keras-Applications==1.0.8
albumentations==0.5.2
tensorflow-addons==0.11.2
segmentation-models==1.0.1
numpy==1.18.4
rasterio==1.2.0
rasterstats==0.15.0
fsspec==2021.4.0
gcsfs==0.8.0
seaborn==0.11.0
geopandas==0.9.0
keras-resnet==0.1.0